.home-hero {
    &__upper {
        &__left {
            & img {
                display: block;
            }
        }
        &__right {
            & img {
                display: block;
            }
        }
    }
    &__lower {
        &__left {
            border-top: 0.8rem solid $sky;
        }
        &__right {
            & img {
                display: block;
            }
        }
    }
}
