.container {
    max-width: 100%;
    padding: 0 2.4rem;
    @include media-breakpoint-up(md){
        padding: 0 4rem;
    }
    @include media-breakpoint-up(xl){
        padding: 0 8rem;
    }
    .row {
        margin: 0 -2rem;
        .col,
        [class*="col-"] {
            padding: 0 2rem;
        }
    }
}
