* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3f3a4b;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}