.about-hero {
    &__top {
        display: flex;
        gap: 4rem;
        & img{
            display: block;
        }
    }
    &__bottom {
        &__img {
            position: relative;
            z-index: 1;
                &::after {
                    content: "";
                    background-image: url("../../../images/about/hero-3-shadow.svg");
                    background-repeat: no-repeat;
                    background-position: left bottom;
                    position: absolute;
                    display: block;
                    z-index: -1;
                    left: -2.4rem;
                    top: 2.4rem;
                    width: 100%;
                    height: 100%;
            }
            & img{
                display: block;
            }
        }
        &__content{
            border-top: .8rem solid $space;
        }
    }
}
