.footer {
    font-family: "Inter", sans-serif;

    // logo section
    .logo {
        & img {
            display: block;
            height: 7rem;
            @include respond-above(xl) {
                height: 12.4rem;
            }
        }
    }
    // logo section end

    // sitemap section
    .sitemap {
        &__item {
            &__title{
                font-size: 1.6rem;
                font-weight: 600;
                letter-spacing: .1em;
                line-height: 1.22;
                font-family: "Inter", sans-serif;
                text-transform: uppercase;
            }
            &__list {
                a {
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 150%;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    // sitemap end

    // contact section
    .contact {
        &__title{
                font-size: 1.6rem;
                font-weight: 600;
                letter-spacing: .1em;
                line-height: 1.22;
                font-family: "Inter", sans-serif;
                text-transform: uppercase;
        }
        &__list {
            a {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 150%;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &__newsletter {
            margin-bottom: 1.6rem;
            font-size: 1.8rem;
            line-height: 150%;
            font-style: italic;
        }
        &__form {
            display: flex;
            gap: 2.4rem;
            flex-direction: column;
            @include media-breakpoint-up(md) {
                flex-direction: row;
                gap: 1.6rem;
            }
            & input[type="email"] {
                padding: 0.8rem;
                border: 0.2rem solid $white;
                background-color: transparent;
                color: $white;
                outline: none;
                @include media-breakpoint-up(md) {
                    flex-grow: 1;
                }
                &::placeholder {
                    font-size: 1.8rem;
                    font-style: italic;
                    color: $white;
                }
            }
        }
    }
    // contact end

    // copyright
    .copyright {
        p {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 150%;
        }
    }
    // copyright end
    ul,
    li {
        margin: 0;
        padding: 0;
    }
}
