* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #464545;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background-color: #d4d0d0;
}