h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    @extend %heading;
}

h1,
.h1{
    font-size: 3.5rem;
    font-weight: 400;
    font-family: Arial, sans-serif;
    @include media-breakpoint-up(xl) {
        font-size: 5.5rem;
    }
}

h2,
.h2 {
    font-size: 2.8rem;
    font-weight: 400;
    font-family: Arial, sans-serif;
    @include media-breakpoint-up(xl) {
        font-size: 4.4rem;
    }
}

h3,
.h3 {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: Arial, sans-serif;
    @include media-breakpoint-up(xl) {
        font-size: 3.5rem;
    }
}

h4,
.h4 {
    font-size: 2rem;
    font-weight: 400;
    font-family: Arial, sans-serif;
    @include media-breakpoint-up(xl) {
        font-size: 2.8rem;
    }
}

h5,
.h5 {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    @include media-breakpoint-up(xl) {
        font-size: 2.3rem;
        font-family: Arial, sans-serif;
    }
}

h6,
.h6 {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 10%;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    @include media-breakpoint-up(xl) {
        font-size: 1.8rem;
    }
}

.body-xl{
    font-size: 2.3rem;
    font-weight: 400;
    font-family: "Inter",sans-serif;
    @include media-breakpoint-up(xl){
        font-size: 2.8rem;
    }
}

.body-l{
    font-size: 2rem;
    font-weight: 400;
    font-family: "Inter",sans-serif;
    @include media-breakpoint-up(xl){
        font-size: 2.3rem;
    }
}

.body{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Inter",sans-serif;
    @include media-breakpoint-up(xl){
        font-size: 1.8rem;
    }
}

.caption{
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    @include media-breakpoint-up(xl){
        font-size: 1.4rem;
    }
}

a {
    text-decoration: none;
    @extend .transition-fast;
}
