.button {
    padding: .8rem 1.6rem;
    white-space: nowrap;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.8rem;
    letter-spacing: 0;
    border-radius: 0;
    font-family: "Inter", sans-serif;
    &--light {
        color: $space;
        background-color: $white;
        &:hover,:active,:focus{
            color: $teal;

        }
        &:disabled{
            color: $peach;
            border: .2rem solid $peach;
        }
    }
    &--dark {
        color: $white;
        background-color: $space;
        &:hover,:active,:focus{
            background-color: $teal;
        }
        &:disabled{
            background-color: $blush;
        }
    }
    &--sky{
        color: $white;
        background-color: $sky;
        &:hover,:active,:focus{
            color: $sky;
            background-color: $white;
        }
    }
    &--transparent{
        background-color: transparent;
    }
}
.right-arrow-button{
    align-self: flex-start;
    @extend .button;
    i{
        margin-left: .8rem;
    }
}
.b-none{
    border: none;
}
.b-black{
    border: .2rem solid $space;
    &:hover,:active,:focus{
        border: .2rem solid $teal;
    }
}
.b-white{
    border: .2rem solid $white;
}
.b-sky{
    border: .2rem solid $sky;
}
